/* .box {
  width: 400px;
  height: 350px;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
} */

#tns1-mw {
  width: 500px;
}

.tns-item {
  width: 500px;
}