/* .box {
  width: 400px;
  height: 350px;
  overflow: scroll;
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
}

button {
  width: 100px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
} */


.tns-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-slider {
  display: flex;
  overflow: hidden;
  background: red;
}
/* 
.my-slider img {
  display: block;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
} */

#tns1-mw {
  width: 50%;
}

.tns-ovh {
 margin-top: 40px;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: block;
  vertical-align: middle;
}

/* .tns-item {
  width: 500px;
} */